@page
@model IndexModel
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/Teacher">Teacher</a>
<a asp-page="/User">User</a>
<br />
<li class="m-2">
    <a class="btn btn-primary" asp-page="/QuestionCreate">QuestionCreate</a>
    <a class="btn btn-primary" asp-page="/ProductCreate">ProductCreate</a>
</li>

<h1>All Questions</h1>

@if (!Model.StudentQuestions.Any())
{
    <div class="alert alert-info">No questions have been posted yet.</div>
}
else
{
    <div class="list-group">
        @foreach (var question in Model.StudentQuestions)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@question.Title</h5>
                    <p class="card-text">@question.Content</p>
                    <p class="card-text">Answers Count: @question.AnswersCount</p>
                    <p class="card-text">Votes Count: @question.VoteCount</p>
                </div>
                <a asp-page="/QuestionsDetails" asp-route-id="@question.Id" class="btn btn-outline-info w-25 mx-auto">View Details</a>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @Html.PagedListPager(Model.StudentQuestions, page => Url.Page("/Index", new { pageNumber = page }), new PagedListRenderOptions
   {
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" },
       ActiveLiElementClass = "active"
   })
        </ul>
    </nav>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

