@page
@model Student_Teacher_Question_Answer_Platform.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your account</h2>
<div>
    Id: @Model.appUser?.Id
</div>
<div>
    First Name: @Model.appUser?.FirstName
</div>
<div>
    Last Name: @Model.appUser?.LastName
</div>
<div>
    Email: @Model.appUser?.Email
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    Phone: @Model.appUser?.PhoneNumber
</div>
<div>
    Created At: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div>
